<%= render 'header' %>
<div class="fixed-bg bg-1">
  <div class="ui vertical masthead center aligned segment text container">
    <h1 class="ui header">
      We believe in the power of professional careers
    </h1>
  </div>
</div>
<div class="fixed-bg bg-2" id="slide1">
  <div class="ui vertical masthead center aligned segment text container">
    <h1 class="ui inverted header">84% of refugees remain unemployed for 18 months or longer</h1>
  </div>
</div>
<div class="scrolling-bg scrolling-half ui text container">
  <h2 class="ui header">
    We believe in the power of professional careers
  </h2>
  <p>
    CareerSeekers New Australian Internship Program is a non-profit social enterprise.
    It creates professional employment opportunities for asylum seekers and refugees in
    Australia by enabling paid internships.
    The CareerSeekers model bridges the gap between new Australians
    and employers seeking to create a more diverse workforce.
  </p>
</div>
<div class="fixed-bg white bg-3" id="slide2">
  <div class="ui vertical masthead center aligned segment text ">
    <h1 class="ui inverted header">How it works</h1>
  </div>
</div>
<div class="scrolling-bg ui text container">
  <p>CareerSeekers partners with companies to provide asylum seekers and recently arrived refugees with paid internships lasting twelve weeks.</p>
  <p>Internships are offered across two streams:</p>
  <p><i class="student icon"></i> Students currently studying a degree</p>
  <p><i class="doctor icon"></i> Mid-career professionals who have already attained a degree</p>
  <p>
    CareerSeekers provides support and training to participants before and during the internship.
    CareerSeekers makes sure that companies are equipped to meet the needs of their interns.
  </p>
</div>
<div class="fixed-bg white bg-4" id="slide3">
  <div class="ui vertical masthead center aligned segment text">
    <h1 class="ui inverted header">How to get involved</h1>
  </div>
</div>
<div class="ui container scrolling-bg">
  <div class="ui stackable two column very relaxed grid">
    <div class="forms column">
      <h2 class="ui header center aligned">Registration Form</h2>
      <div class="form container">
        <div class="ui three item stackable top attached tabs menu">
          <a class="item active" data-tab="1">Applicants</a>
          <!--<a class="item" data-tab="2">Mid-Career Professional</a>-->
          <a class="item" data-tab="3">Interested Companies</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="1">
          <%= render 'homepage/forms/student_form' %>
        </div>
        <!--<div class="ui bottom attached tab segment" data-tab="2">
          <%= render 'homepage/forms/professional_form' %>
        </div>-->
        <div class="ui bottom attached tab segment" data-tab="3">
          <%= render 'homepage/forms/company_form' %>
        </div>
      </div>
    </div>
    <div class="profiles column">
      <%= render 'profiles' %>
    </div>
  </div>
</div>
<%= render 'footer' %>
